.default {
    background: #fff;
}

.default-text {
    color: #000;
}

.dark {
    background: #0A1618;
}

.dark-text {
    color: #c1cbce;
}

.red {
    background: #f44336;
}

.red-text {
    color: #ffffff;
}

.blue {
    background: #599aaf;
}

.blue-text {
    color: #ffffff;
}
