.select {
    border: 2px solid #008CBA;
    border-radius: 4px;
    font-size: 1rem;
    padding: 4px;
    outline: none;
}

.dark {
    border: #0A1618;
    background-color: #6098a1;
}

.dark-text {
    color: #c1cbce;
}

.red {
    border: #f44336;
}

.red-text {
    color: #ffffff;
}

.blue {
    border: #008CBA;
}

.blue-text {
    color: #ffffff;
}